@using Kentico.Xperience.AiraUnified;
@using Kentico.Xperience.AiraUnified.AssetUploader.Models

@model AssetsViewModel

@{
    Layout = "_AiraLayout";
    var baseUrl = Context.Request.GetBaseUrl();
}

@section styles {
    <link href="@baseUrl/_content/Kentico.Xperience.AiraUnified/css/style.css" rel="stylesheet" type="text/css">
}

<div id="assets-app"
    data-aira-unified-base-url="@Model.PathBase"
    data-base-url="@baseUrl"
    data-allowed-file-extensions-url="@Model.AllowedFileExtensionsUrl"
    data-select-files-button="@Model.SelectFilesButton"
    data-upload-successful-message="@Model.FilesUploadedMessage"
    data-upload-url="@Model.UploadUrl"
    data-navigation-url="@Model.NavigationUrl"
    data-navigation-page-identifier="@Model.NavigationPageIdentifier"
>
</div>