@using Kentico.Xperience.AiraUnified.Insights.Models

<div class="insights-content">
    <div>
        <h2 class="k-title">Content Insights</h2>
        <h3 class="k-subtitle">Summary</h3>
        <div class="k-summary">
            <div class="k-summary_item">
                <h4 class="k-summary_title">Drafts</h4>
                <div class="k-summary_value">@Data.Summary.DraftCount</div>
            </div>
            <div class="k-summary_item">
                <h4 class="k-summary_title">Scheduled</h4>
                <div class="k-summary_value">@Data.Summary.ScheduledCount</div>
            </div>
        </div>
    </div>

    <div>
        <h3 class="k-subtitle">Website content</h3>
        <div class="k-summary">
            <div class="k-summary_item">
                <h4 class="k-summary_title">Drafts</h4>
                <div class="k-summary_value">@Data.WebsiteContent.DraftCount</div>
            </div>
            <div class="k-summary_item">
                <h4 class="k-summary_title">Scheduled</h4>
                <div class="k-summary_value">@Data.WebsiteContent.ScheduledCount</div>
            </div>
        </div>
        <h3 class="k-subtitle small">Draft Websites</h3>
        <div class="k-content-items">
            @foreach (var item in Data.WebsiteContent.Items)
            {
                <ContentItemComponent Item="@item" />
            }
        </div>
    </div>

    <div>
        <h3 class="k-subtitle">Reusable content</h3>
        <div class="k-summary">
            <div class="k-summary_item">
                <h4 class="k-summary_title">Drafts</h4>
                <div class="k-summary_value">@Data.ReusableContent.DraftCount</div>
            </div>
            <div class="k-summary_item">
                <h4 class="k-summary_title">Scheduled</h4>
                <div class="k-summary_value">@Data.ReusableContent.ScheduledCount</div>
            </div>
        </div>
        <h3 class="k-subtitle small">Draft Reusable contents</h3>
        <div class="k-content-items">
            @foreach (var item in Data.ReusableContent.Items)
            {
                <ContentItemComponent Item="@item" />
            }
        </div>
    </div>
    
    <div class="metadata">
        <small>Request was generated at @Timestamp.ToString("g").</small>
    </div>
</div>

@code {
    [Parameter] public ContentInsightsDataModel Data { get; set; } = new();
    [Parameter] public DateTime Timestamp { get; set; }
}