@using Kentico.Xperience.Aira;

@model Kentico.Xperience.Aira.Chat.Models.ChatViewModel

@{
    Layout = "_AiraLayout";
    var baseUrl = Context.Request.GetBaseUrl();
}

@section styles {
    <link href="@baseUrl/_content/Kentico.Xperience.Aira/css/style.css" rel="stylesheet" type="text/css">
}

<div id="chat-app"
     data-aira-base-url="@Model.PathBase"
     data-ai-icon-url="@Model.AIIconImagePath"
     data-base-url="@baseUrl"
     data-nav-bar-model='@Html.Raw(Json.Serialize(Model.NavBarViewModel))'
     data-history='@Html.Raw(Json.Serialize(Model.History))'
     data-use-prompt-url='@Model.RemovePromptUrl'>
</div>

<script>
    navigator.serviceWorker.register('/_content/Kentico.Xperience.Aira/sw.js')
</script>