@using Kentico.Xperience.AiraUnified;

@model Kentico.Xperience.AiraUnified.Chat.Models.ChatViewModel

@{
    Layout = "_AiraLayout";
    var baseUrl = Context.Request.GetBaseUrl();
}

@section styles {
    <link href="@baseUrl/_content/Kentico.Xperience.AiraUnified/css/style.css" rel="stylesheet" type="text/css">
}

<div id="chat-app"
     data-aira-unified-base-url="@Model.PathBase"
     data-ai-icon-url="@Model.AIIconImagePath"
     data-base-url="@baseUrl"
     data-use-prompt-url='@Model.RemovePromptUrl'
     data-service-page-model='@Html.Raw(Json.Serialize(Model.ServicePageViewModel))'
     data-history-url="@Model.HistoryUrl"
     data-navigation-url="@Model.NavigationUrl"
     data-navigation-page-identifier="@Model.NavigationPageIdentifier"
     data-chat-url="@Model.ChatUrl"
     data-logo-img-relative-path="@Model">
</div>

<script>
    navigator.serviceWorker.register('/_content/Kentico.Xperience.AiraUnified/sw.js')
</script>