@using Kentico.Xperience.AiraUnified.Chat
@using Kentico.Xperience.AiraUnified.Chat.Models
@using Kentico.Xperience.AiraUnified.Admin

<div class="page-wrapper">
    <div class="content-wrapper">
        <section class="c-section app">
            <div class="c-app aira-unified">
                <div class="c-app_inner is-loaded">
                    <div class="c-app_header">
                        <NavigationComponent PageIdentifier="@AiraUnifiedConstants.ChatRelativeUrl" BaseUrl="@BaseUrl" />
                    </div>
                    <div class="c-app_body">
                        <BlazorChatPage ThreadId="@ThreadId" 
                                        ThreadName="@ThreadName" 
                                        UserId="@UserId" 
                                        LogoImgRelativePath="@LogoImgRelativePath" 
                                        BaseUrl="@BaseUrl" />
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@code {
    [Parameter] public int ThreadId { get; set; }
    [Parameter] public string ThreadName { get; set; } = string.Empty;
    [Parameter] public int UserId { get; set; }
    [Parameter] public string LogoImgRelativePath { get; set; } = string.Empty;
    [Parameter] public string BaseUrl { get; set; } = string.Empty;
}